<head>
    <link href={{url_for("static", filename="bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <script src={{url_for("static", filename="bootstrap/js/bootstrap.bundle.min.js")}} ></script>
</head>

<body>
    
    
    <div class="container">
        <h1>Init</h1>

        <div class="row bg-light">
            <div class="column">
                <label for="upload">Prześlij dane</label>
                <input type="text" name="upload">
            </div>
            <div class="column">
                <div class="bg-warning">Legenda</div>
                <div class="bg-danger">Wykres</div>
            </div>
        </div>


    </div>
     

    <script src={{url_for("static", filename="d3.v7.min.js")}}></script>
</body>
